<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1039843265985-r2mosqhce0ts43bkcb7f049oho4bebo7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1039843265985-r2mosqhce0ts43bkcb7f049oho4bebo7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1039843265985-0v4hcd5e0l0p8aot5h8ppd00ctnjff5k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBwy-qwpQW-XTkF-aX6nv7eQzjT-nV3Glo</string>
	<key>GCM_SENDER_ID</key>
	<string>1039843265985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.julia.ctr</string>
	<key>PROJECT_ID</key>
	<string>checking-the-receipt</string>
	<key>STORAGE_BUCKET</key>
	<string>checking-the-receipt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1039843265985:ios:3bf8657c8cc2b0eb28b340</string>
	<key>DATABASE_URL</key>
	<string>https://checking-the-receipt.firebaseio.com</string>
</dict>
</plist>