<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961489030826-jur889rnitnc7hn14bgr1ogbc5q04iqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961489030826-jur889rnitnc7hn14bgr1ogbc5q04iqi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>961489030826-efhs19otgr38lo90r1ftojrqaqstc0ju.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyALMwHQ7ISsMN5p5OrjHoBdUNcqNSOCNGE</string>
	<key>GCM_SENDER_ID</key>
	<string>961489030826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.julia.receipt-scanner</string>
	<key>PROJECT_ID</key>
	<string>receipt-scanner-852a2</string>
	<key>STORAGE_BUCKET</key>
	<string>receipt-scanner-852a2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961489030826:ios:74715c81cc9ad161c68ad3</string>
</dict>
</plist>